<div *ngIf="tabName == 'AllMembersContent'; else DueMemberItem " (click) = "openMemberProfile(currMember)" class="memberItem container-fluid rounded border border-success">
  <div class="col-md-4">
    <span>
      <span id="firstname">{{ currMember.firstName }}</span>
      <span id="lastname"> {{ currMember.lastName }}</span>
    </span>
    <br>
    <span id="cycleend_date">{{ currMember.cycleEndDate }}</span>
    <br>
    <span id="memberstatus"> <strong>SETTLED</strong> : {{isSettled}} </span>
  </div>
  <div class="col-md-3">
    <img id="memberAvatar" class="rounded-circle" [src]="memberImage" style="height:80px; width:80px" alt="currMember._id image"
    />
  </div>
</div>

<ng-template #DueMemberItem>
  <div *ngIf="!isSettled" (click) = "openMemberProfile(currMember)" class="memberItem container-fluid rounded border border-success">
    <div class="col-md-4">
      <span>
        <span id="firstname">{{ currMember.firstName }}</span>
        <span id="lastname"> {{ currMember.lastName }}</span>
      </span>
      <br>
      <span id="cycleend_date">{{ currMember.cycleEndDate }}</span>
      <br>
      <span id="memberstatus"> <strong>SETTLED</strong> : {{isSettled}} </span>
    </div>
    <div class="col-md-3">
      <img id="memberAvatar" class="rounded-circle" [src]="memberImage" style="height:80px; width:80px" alt="currMember._id image"
      />
    </div>
  </div>
</ng-template>
