.search-btn-outline:hover{
    color: #495057;
    background-color: rgb(245, 230, 240);
    border-color: #000000;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(255,46,129,.25);
}

.search-btn-outline:focus{
    color: #495057;
    background-color: rgb(245, 230, 240);
    border-color: #000000;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(255,46,129,.25);
}
    
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #CBF21B;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #343a40;
    color: #CBF21B;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -350px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #343a40;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #343a40;
}

#sidebar ul p {
    color: #CBF21B;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000000;
    background: #CBF21B;
}

li.active > a:hover{
    color: #000000;
    border-bottom: 4px;
    border-bottom-color: #000000;
}

li.active > a{
    color: #000000;
    border-bottom: 4px;
    border-bottom-color: #000000;

}

#sidebar ul li.active>a,
#sidebar a[aria-expanded="true"] {
    color: #CBF21B;
    background: #000000;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #2b2f33;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

#pageTitle{
    border-left: 6px solid lightgreen;
    margin-left: 10px;
    padding-left: 10px;
  }


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 350px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        width: 30%;
    }

    #content {
        width: 70%;
    }

    #content.active {
        width: 100%
    }
   
}

@media (min-width: 768px) {
    .top-nav{
     display: none;
     }
}

@media (max-width: 618px) {

    #sidebar {
        width: 190px;
    }

    #content {
        width: 100%;
    }
    #content.active {
        width: 100%
    }

    #sidebar {
        display: none;
    }

    button#sidebarCollapse{
        display:none;
    
    }
    
}