<br>
<div  *ngIf="!isSettled"  class="container col-md-6 rounded border border-success">
  <div class="col-md-8">
    <span>
      <span id="firstname">{{ currMember.firstName }}</span>
      <span id="lastname"> {{ currMember.lastName }}</span>
    </span>
    <br>
    <span id="cycleend_date">{{ currMember.cycleEndDate }}</span>
    <br>
    <span id="memberstatus"></span>

  </div>

  <div class="col-md-4">
    <img id="memberAvatar" class="rounded-circle" [src]="_DomSanitizationService.bypassSecurityTrustResourceUrl(currMember.memberImage)" style="height:80px; width:80px" alt="currMember._id image"
    />
  </div>
</div>

