<ul id="tab" class="nav nav-tabs">
	<li class="active btn">
		<a class="active" href="#1" data-toggle="tab">All Members</a>
	</li>
	<hr>
	<li class="btn">
		<a href="#2" data-toggle="tab">DUE Members</a>
	</li>
</ul>
<div class="tab-content">

	<div class="tab-pane active" id="1">
		<app-member-item id="mytab1" *ngFor="let item of membersArray" [currMember]="item"></app-member-item>
	</div>
	<div class="tab-pane" id="2">
		<app-due-member-item id="mytab2" *ngFor="let item of membersArray" [currMember]="item"></app-due-member-item>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function () {

		$('#tab li>a').on('click', function () {
			$('#tab ul li>a.active').removeClass('active');
			$('#tab ul li>a').addClass('active');
		});

	});

</script>