body {
  padding : 10px ;
  
}

#tab .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#tab h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

li{
  width: 40%;
}

li>a:hover{
  border-bottom: 6px solid lightgreen;
}

li>a.active{
  color:purple;
  width: 40%; color: #6c757d; border-bottom: 6px solid lightgreen;
  background-color: lightgrey;
}

