<div #message id="notification" class="col-md-8 border border-primary" style="display:none;">
  <div class="inline-group">
    <span> {{ messageValue }}
      <img [src]="imageURL" height="60px" width="60px" />
    </span>
    <input id="close" type="button" style=" float:right;" value="X">
  </div>
</div>
<div class=" container-fluid rounded border border-success">
  <div class="container col-md-8">
    <form>
      <div class="form-group">

          <label class="image-upload-container btn btn-bwm">
              <span>Select Image</span>
              <input #imageInput
                     type="file"
                     accept="image/*"
                     (change)="getFilePath(imageInput)">
            </label>
        <img id="memberAvatar" src="assets/ic_member.png" height="80px" width="80px">
      </div>

      <div class=" form-inline form-group">
        <div class="mr-4">
          <label for="firstName" class="mb-2">First Name</label>
          <input #firstnameInput type="text" class="form-control" id="firstName">
        </div>

        <div>
          <label for="lastName" class="mb-2">Last Name</label>
          <input #lastnameInput type="text" class="form-control" id="lastName">
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Phone No.</label>
        <input #phoneInput type="text" class="form-control" id="phone">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input #emailInput type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input #addressInput type="text" class="form-control" id="address">
      </div>
      <div class="form-group">
        <label for="cycle_startdate">Cycle Start Date</label>
        <input #cycleStartDateInput type="date" class="form-control" id="cycle_startdate">
      </div>
      <div class="form-group">
        <label for="cycle_enddate">Cycle End Date</label>
        <input #cycleEndDateInput type="date" class="form-control" id="cycle_enddate">
      </div>

    </form>

    <button type="submit" (click)="createMember()" class="btn btn-primary mb-2">Add Member</button>
  </div>
</div>